body {
	background-color: #141722;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#startStopButtonIcon {
	position: relative;
	color: #fff;
	font-size: 90px;
	line-height: 140px;
}

.top-container {
	color: #fff;
	font-family: sans-serif;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.26);
	background-color: rgba(0,0,0,0.016);
}

.top-container h1 {
	font-size: 28px;
}

.top-container h2 {
	font-size: 14px;
	font-weight: 100;
	opacity: 0.2;
}

#startStopButton {
	border: none;
	outline: none;
	text-align: center;
	margin: 0 auto;
	height: 140px;
	width: 140px;
	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,.2); /* inner glow */
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,.2); /* inner glow */
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,.2); /* inner glow */
	background-image: -moz-linear-gradient(bottom, #28d0a4 0%, #6ff5d2 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #28d0a4 0%, #6ff5d2 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #28d0a4 0%, #6ff5d2 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #28d0a4 0%, #6ff5d2 100%); /* gradient overlay */
	text-align: center;
	color: #FFF;
}

.button-border:hover {
	-moz-box-shadow: 0 0 70px rgba(216,171,235,.17); /* drop shadow */
	-webkit-box-shadow: 0 0 70px rgba(216,171,235,.17); /* drop shadow */
	box-shadow: 0 0 70px rgba(216,171,235,.17); /* drop shadow */
	cursor: hand; cursor: pointer;
}

#startStopButton:hover {
	cursor: hand; cursor: pointer;
}

.button-border:hover #startStopButton {
}

.button-border {
	display: inline-block;
	margin: 0 auto;
	margin-top: 70px;    
	padding: 3px;
	border: 2px solid #3b3b3b; /* stroke */
	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: inset 0 6px 3px #080808; /* inner shadow */
	-webkit-box-shadow: inset 0 6px 3px #080808; /* inner shadow */
	box-shadow: inset 0 6px 3px #080808; /* inner shadow */
	background-image: -moz-linear-gradient(left, #050505 0%, #181818 100%); /* gradient overlay */
	background-image: -o-linear-gradient(left, #050505 0%, #181818 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(left, #050505 0%, #181818 100%); /* gradient overlay */
	background-image: linear-gradient(left, #050505 0%, #181818 100%); /* gradient overlay */
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
	transition:.4s; 
	position: relative;
}
